In [ ]:
def sortowanie(listaDosortowania):
  first = None
  second = None
  for x in listaDosortowania:
    if first is None or x>first:
      second = first
      first = x
    if second is None or x>second>first:
      second = x
  return second

print(sortowanie([2, 1, 5, 7, 6, 7]))

5

In [ ]:
def rotateList(lista2, k):
  k %= len(lista2)
  print(lista2[-k:]+lista2[:-k])

print(rotateList([1,2,3,4,5], 2))

[4, 5, 1, 2, 3]
None

In [ ]:
import numpy as np
import pandas as pd

temperatures = [3.4, 2.1, 5.6, 7.2, 6.8, 3.9, 2.3, 4.6, 5.2, 6.1,
                7.8, 8.2, 6.9, 4.5, 3.2, 2.7, 3.8, 5.9, 7.3, 6.5,
                4.1, 3.6, 2.9, 1.8, 3.7, 5.0, 6.4, 7.1, 6.7, 4.2]

print(temperatures[-7:])
avg_temp_last_7_days=np.average(temperatures[:-7])
print("średnia temperatura z ostatnich 7 dni: " + str(round(avg_temp_last_7_days, 2)))
coldest=np.min(temperatures)
hottest=np.max(temperatures)
print("Najzimniejszy dzień: " + str(coldest) + "\n" + "Najcieplejszy dzień: " + str(hottest))
odch_std=np.std(temperatures)
print("Odchylenie standardowe: "+str(round(odch_std,2)))

[1.8, 3.7, 5.0, 6.4, 7.1, 6.7, 4.2]
średnia temperatura z ostatnich 7 dni: 4.98
Najzimniejszy dzień: 1.8
Najcieplejszy dzień: 8.2
Odchylenie standardowe: 1.81

In [ ]:
import collections
import string

text = "Data science is all about analyzing data and extracting useful insights."
text=text.lower()
text=text.translate(str.maketrans("","", string.punctuation))
print(text)
text_list = text.split(' ')
print(text_list)
for x in text_list:
  word_counter = text_list.count(x)
  print("Liczba wystąpień słowa "+ str(x) + ": "+ str(word_counter) + "\n")

longest_word=max(text_list, key=len)
print("Najdłuższe słowo: "+longest_word)

data science is all about analyzing data and extracting useful insights
['data', 'science', 'is', 'all', 'about', 'analyzing', 'data', 'and', 'extracting', 'useful', 'insights']
Liczba wystąpień słowa data: 2

Liczba wystąpień słowa science: 1

Liczba wystąpień słowa is: 1

Liczba wystąpień słowa all: 1

Liczba wystąpień słowa about: 1

Liczba wystąpień słowa analyzing: 1

Liczba wystąpień słowa data: 2

Liczba wystąpień słowa and: 1

Liczba wystąpień słowa extracting: 1

Liczba wystąpień słowa useful: 1

Liczba wystąpień słowa insights: 1

Najdłuższe słowo: extracting

In [ ]:
sales = [
    ("Laptop", 5, 3000),
    ("Monitor", 10, 1200),
    ("Klawiatura", 15, 200),
    ("Mysz", 20, 150),
    ("Drukarka", 3, 800),
]

przychod=0
przychod_list=[]
for elements in sales:
  przychod1=elements[1]*elements[2]
  przychod_list.append((elements[0], przychod1))
  przychod=przychod+przychod1

print("Całkowity przychód: "+ str(przychod))
print(przychod_list)
max_przychod=max(przychod_list, key=lambda i: i[1])
print("Najwyzszy przychod wygenerował: " + str(max_przychod[0]) + " o wartości: " + str(max_przychod[1]))

Całkowity przychód: 35400
[('Laptop', 15000), ('Monitor', 12000), ('Klawiatura', 3000), ('Mysz', 3000), ('Drukarka', 2400)]
('Laptop', 15000)
Najwyzszy przychod wygenerował: Laptop o wartości: 15000

In [ ]:
shopping_list = ["mleko", "chleb", "masło", "jajka"]
shopping_list.append("ser")
print(shopping_list)
shopping_list.remove("masło")
print(shopping_list)
def sprawdzam(slowko):
  if slowko in shopping_list:
    return True
  else:
    return False

print(sprawdzam("chleb"))

['mleko', 'chleb', 'masło', 'jajka', 'ser']
['mleko', 'chleb', 'jajka', 'ser']
True

In [ ]:
coordinates = (10, 20)
coordinates=list(coordinates)
coordinates.pop(0)
coordinates.insert(0,15)
coordinates=tuple(coordinates)
print(coordinates)
drugi = coordinates[1]
print(drugi)

(15, 20)
20

In [ ]:
math_students = {"Ania", "Bartek", "Kasia", "Tomek"}
english_students = {"Bartek", "Kasia", "Monika", "Piotr"}

for x in math_students:
  if x in english_students:
    print(x)

print(math_students.intersection(english_students)) #to samo ale szybciej XD

math_students.update(english_students)
print(math_students)

Kasia
Bartek
{'Kasia', 'Bartek'}
{'Bartek', 'Tomek', 'Monika', 'Piotr', 'Kasia', 'Ania'}

In [ ]:
sales = {"Laptop": 5, "Monitor": 10, "Klawiatura": 15, "Mysz": 20}
suma=0
for item in sales:
  suma+=int(sales[item])

print("Suma sprzedanych sztuK: "+str(suma))

print("Najlepiej sprzedał się produkt: "+str(max(sales, key=sales.get)))
print("W ilości sztuk: "+str(sales[max(sales, key=sales.get)]))

Suma sprzedanych sztuK: 50
Najlepiej sprzedał się produkt: Mysz
W ilości sztuk: 20

In [ ]:
numbers = [1, 3, 5, 3, 7, 9, 1, 3, 5, 7, 9, 9]
nowe_numbers=[]
for x in numbers:
  if x not in nowe_numbers:
    nowe_numbers.append(x)
nowe_numbers.sort(reverse=True)
print("Posortowana malejąco lista bez duplikatów: " + str(nowe_numbers))

Posortowana malejąco lista bez duplikatów: [9, 7, 5, 3, 1]

In [ ]:
person1 = {"name": "Ania", "age": 25, "city": "Warszawa"}
person2 = {"name": "Tomek", "age": 30, "job": "Programista"}
merged_person = {}

for key, value in person1.items():
    merged_person[key] = {value}
for key, value in person2.items():
    if key in merged_person:
        merged_person[key].add(value)
    else:
        merged_person[key] = {value}
print(merged_person)

{'name': {'Ania', 'Tomek'}, 'age': {25, 30}, 'city': {'Warszawa'}, 'job': {'Programista'}}

In [ ]:
words = ["listen", "silent", "enlist", "hello", "world"]
for word in words:
  for letter in word:
    print(letter)

l
i
s
t
e
n
s
i
l
e
n
t
e
n
l
i
s
t
h
e
l
l
o
w
o
r
l
d

In [ ]:
countries = {"Polska": "Warszawa", "Niemcy": "Berlin", "Francja": "Paryż"}
capitals= dict()
for x,y in countries.items():
  capitals[y] = x

print(countries)
print(capitals)

{'Polska': 'Warszawa', 'Niemcy': 'Berlin', 'Francja': 'Paryż'}
{'Warszawa': 'Polska', 'Berlin': 'Niemcy', 'Paryż': 'Francja'}

In [ ]:
students = [("Ania", 20, 4.5), ("Bartek", 22, 3.7), ("Kasia", 21, 4.8), ("Tomek", 23, 3.2)]
max_ocena=max(students, key=lambda i: i[2])
print("Najwyższą średnią równą: "+str(max_ocena[2])+" otrzymał/a: " + str(max_ocena[0]))

students.sort(key=lambda i:i[1], reverse=True)
print("Lista studentów posortowana wzg wieku: " + str(students))

srednia_ocen=0
for x in students:
  srednia_ocen+=x[2]
srednia_ocen=srednia_ocen/len(students)
print(srednia_ocen)

Najwyższą średnią równą: 4.8 otrzymał/a: Kasia
Lista studentów posortowana wzg wieku: [('Tomek', 23, 3.2), ('Bartek', 22, 3.7), ('Kasia', 21, 4.8), ('Ania', 20, 4.5)]
4.05

In [ ]:
def czy_doskonala(n):
  sum=0
  for x in range(int(n)):
    if x!=0 and int(n)%(x) == 0:
      sum+=x
      print(sum)
  if int(sum)==int(n):
    print(f"{n} jest liczbą doskonałą!")
  else:
    print(f"{n} nie jest liczbą doskonałą!")

czy_doskonala(6)
czy_doskonala(8)
czy_doskonala(28)

1
3
6
6 jest liczbą doskonałą!
1
3
7
8 nie jest liczbą doskonałą!
1
3
7
14
28
28 jest liczbą doskonałą!

In [ ]:
def ile_slow_dlugosci(n, txt):
  txt = open(txt)
  txt=str(txt.read())
  rep=str.maketrans({",":"", ".":"", ";":"",":":""})
  txt1=txt.translate(rep).split(sep=" ")
  print(txt1)
  print(f"Słowa, które są długości {n}: ")
  for x in txt1:
    if n==len(x):
      print(x)


ile_slow_dlugosci(3, "/content/tekst.txt")

['ala', 'ma', 'kota', 'i', 'teraz', 'nie', 'ma', 'kota']
Słowa, które są długości 3:
ala
nie

In [ ]:
def pierwsze():
    liczba = 2
    while True:
        for i in range(2, int(liczba ** 0.5) + 1):
            if liczba % i == 0:
                break
        else:
            yield liczba
        liczba += 1

gen = pierwsze()
for _ in range(10):
    print(next(gen))

2
3
5
7
11
13
17
19
23
29

In [ ]:
import numpy as np

def oblicz(lista):
  srednia = np.average(lista)
  print(f"Średnia: {srednia}" )
  maximum = np.max(lista)
  print(f"Max: {maximum}")
  minimum = np.min(lista)
  print(f"Min: {minimum}")
  suma = np.sum(lista)
  print(f"Suma: {suma}")

oblicz([2,1,4,3])

Średnia: 2.5
Max: 4
Min: 1
Suma: 10

In [ ]:
imiona = ["Kasia", "Tomasz", "Ola", "Kuba", "Marek"]

def filtrowanie_imion(lista):
  for x in lista:
    if str(x[-1]) == "a":
      print(x)

filtrowanie_imion(imiona)

Kasia
Ola
Kuba

In [ ]:
from os import close
def liczenie_txt(path):
  txt = open(path)
  txt = txt.read()
  txt = txt.split(sep=' ')
  print(txt)
  ile_razy=0
  for x in txt:
    if x=="python":
      ile_razy+=1
  print(f"Liczna słów: {len(txt)}")
  print(f"Słowo python występuje w pliku: {ile_razy}")
  with open("/content/analiza.txt", "w") as wynik:
    wynik.write(f"Liczna słów: {len(txt)} \n")
    wynik.write(f"Słowo python występuje w pliku: {ile_razy}")
    wynik.close()

liczenie_txt("/content/tekst.txt")

['ala', 'ma', 'kota', 'i', 'teraz', 'nie', 'ma', 'kota', 'python']
Liczna słów: 9
Słowo python występuje w pliku: 1

In [ ]:
import random
for x in range(100):
  r=random.randint(1, 100)
  if r % 7 == 0:
    print(f"{x}. {r} jest podzielne przez 7")
  else:
    print(f"{x+1}. {r}")

1. 71
2. 57
2. 56 jest podzielne przez 7
4. 79
5. 36
6. 51
7. 24
8. 43
9. 88
10. 83
11. 26
12. 1
13. 37
14. 33
14. 28 jest podzielne przez 7
16. 47
17. 83
18. 61
19. 39
19. 98 jest podzielne przez 7
21. 88
22. 31
22. 98 jest podzielne przez 7
24. 93
25. 53
26. 24
27. 80
28. 32
28. 70 jest podzielne przez 7
30. 30
30. 14 jest podzielne przez 7
32. 23
33. 88
33. 28 jest podzielne przez 7
35. 23
36. 69
37. 1
38. 59
39. 87
40. 30
41. 22
42. 33
43. 59
44. 68
45. 86
46. 8
46. 84 jest podzielne przez 7
48. 65
49. 74
50. 47
51. 78
51. 49 jest podzielne przez 7
53. 82
54. 27
55. 26
56. 34
57. 26
57. 49 jest podzielne przez 7
59. 64
59. 7 jest podzielne przez 7
61. 68
62. 52
63. 9
64. 37
65. 60
66. 18
66. 21 jest podzielne przez 7
68. 25
69. 55
70. 71
71. 100
72. 4
73. 33
74. 16
75. 57
76. 97
77. 5
78. 79
79. 46
80. 94
81. 73
82. 40
83. 32
84. 53
85. 44
86. 17
87. 26
88. 25
89. 18
90. 99
91. 76
92. 72
93. 79
94. 69
94. 28 jest podzielne przez 7
96. 73
96. 98 jest podzielne przez 7
98. 85
98. 70 jest podzielne przez 7
100. 15

In [ ]:
def oceny_do_stopni(lista_ocen):
  wynik=[]
  for x in lista_ocen:
    if x in range(90,101):
      wynik.append(5)
    elif x in range(80,90):
      wynik.append(4.5)
    elif x in range(70,80):
      wynik.append(4)
    elif x in range(60,70):
      wynik.append(3.5)
    elif x in range(50,60):
      wynik.append(3)
    else:
      wynik.append(2)
  print(wynik)
  print("Liczba ocen >2: " + str(sum(i > 2 for i in wynik)))

oceny_do_stopni([95,88,54,42,33])

[5, 4.5, 3, 2, 2]
Liczba ocen >2: 3

In [ ]:
import pandas as pd

d = pd.read_csv("student_habits_performance.csv")
df = pd.DataFrame(data=d)

# print(df)

print("typy danych: \n" + str(df.dtypes))
print("\n")
print("Dataframe rows count: \n"+ str(df.count()))
print("\n")
print("Dataframe column count: "+ str(df.shape[1]))

typy danych:
student_id                        object
age                                int64
gender                            object
study_hours_per_day              float64
social_media_hours               float64
netflix_hours                    float64
part_time_job                     object
attendance_percentage            float64
sleep_hours                      float64
diet_quality                      object
exercise_frequency                 int64
parental_education_level          object
internet_quality                  object
mental_health_rating               int64
extracurricular_participation     object
exam_score                       float64
dtype: object


Dataframe rows count:
student_id                       1000
age                              1000
gender                           1000
study_hours_per_day              1000
social_media_hours               1000
netflix_hours                    1000
part_time_job                    1000
attendance_percentage            1000
sleep_hours                      1000
diet_quality                     1000
exercise_frequency               1000
parental_education_level          909
internet_quality                 1000
mental_health_rating             1000
extracurricular_participation    1000
exam_score                       1000
dtype: int64


Dataframe column count: 16

In [ ]:
import numpy as np

avg_exam_score = np.average(df['exam_score'])
print("Average exam score: "+ str(round(avg_exam_score, 1)))

avg_exam_score_boys = np.average(df['exam_score'],weights=df['gender']=='Male')
avg_exam_score_girls = np.average(df['exam_score'],weights=df['gender']=='Female')

print("Average exam score for boys: "+str(round(avg_exam_score_boys, 2)))
print("Average exam score for girls: "+str(round(avg_exam_score_girls,2)))

Average exam score: 69.6
Average exam score for boys: 69.37
Average exam score for girls: 69.74

In [ ]:
count_part_time_job= 100*(np.sum(df['part_time_job']=="Yes") / len(df['part_time_job']))
print("Student with part time job [%]: "+ str(count_part_time_job))
print("Student without part time job [%]: " + str(100-count_part_time_job))

Student with part time job [%]: 21.5
Student without part time job [%]: 78.5

In [ ]:
def gen():
  yield 1
  yield 2
  yield 3

print(list(gen()))
print(list(gen()))

[1, 2, 3]
[1, 2, 3]

In [ ]:
listaEksperta = [3,2,5,4,8,6,7,9,1]
print(max(listaEksperta))

idx=0
for x in listaEksperta:
  if x>idx:
    idx=x

print(idx)

9
9

In [11]:
print("Kalkulator BMI \n- podaj wagę [kg]: ")

waga = input()
print("Podano błędne dane!")

print("- podaj wzrost [m]: ")
wzrost = input()
try:
  bmi = float(waga) / (float(wzrost) ** 2)
  if bmi < 18.5:
    print(str(bmi)+" - Niedowaga")
  elif bmi < 25 and bmi >=18.5:
    print(str(bmi)+" - Norma")
  elif bmi <29.9 and bmi >= 25:
    print(str(bmi)+" - Nadwaga")
  elif bmi >= 30:
    print(str(bmi)+" - Otyłość")
  else:
    print("Błąd odczytu danych")
except:
  print("Dane niepoprawne!")

Kalkulator BMI
- podaj wagę [kg]:
83
Podano błędne dane!
- podaj wzrost [m]:
1.93
22.28247738194314 - Norma

In [40]:
def is_prime(n):
  isPrime=True
  if n==1:
    isPrime=False
    return isPrime
  else:
    for x in range(1,n):
      print(x)
      if n % x == 0 and x!=1:
        isPrime = False

  print("All prime numbers [2-100]: ")
  return isPrime

is_prime(5)

for i in range(2,101):
  status=True
  for ii in range(2,i):
    if i % ii != 0:
      status=True
    else:
      status=False
      break
  if status==True:
    print(str(i))

1
2
3
4
All prime numbers [2-100]:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [63]:
def palindrom():
  print("Podaj słowo: ")
  slowo = input()
  wynik=False
  for x in range(len(slowo)):
    if slowo[x]==slowo[len(slowo)-x-1]:
      wynik=True
    else:
      wynik=False
      break
  print("Czy słowo " + str(slowo) + " jest palindromem? " + str(wynik))

palindrom()

Podaj słowo:
kajak
Czy słowo kajak jest palindromem? True

In [73]:
from collections import Counter

listaDoZmiany=[1,2,2,3,3,3,4,4,4,4]
nowaLista=dict(Counter(listaDoZmiany))
print(nowaLista)

{1: 1, 2: 2, 3: 3, 4: 4}